<%-include('header')%>

<div>

  <table class="about">
    <tbody>
      <tr>
        <td><img  src="/Me.JPG" class="photoofme" width=200px height= 200px /></td>
        <td><strong>Founder of <a href="bungeeowl.com">BungeeOwl</a> and <a href="boardandbanter.com">BoardandBanter</a>.</strong>
          <br><strong>Timber Creek High School and Valencia College graduate.</strong>
          <br><strong>Made presidents list once in college and Deans list twice.</strong>
        </td>

      </tr>
    </tbody>
  </table>

    <p>My name is Jannessa Markovich. I spent many years working as a security officer before the pandemic which helped me spend time learning my craft in programming, developing, use of databases, and animation.</p>


</div>

<%-include('footer')%>
