<%-include('header')%>
<table class="projects">
  <tr>
    <th>Title<th>
      <td>Made with: -- </td>
    <td>What The App Does</td>
    <td><a href="">LINK</a></td>
  </tr>
  <tr>
    <th>Curve Calculator<br>[UNDERCONSTRUCTION]<th>
      <td>Made with: Java</td>
    <td>Android cellphone application that calculates length of a curve.</td>
    <td><a href="">LINK HERE</a></td>
  </tr>
<tr>
  <th>Sea of Thieves Timer<br>[UNDERCONSTRUCTION]<th>
    <td>Made with: Javascript/React</td>
  <td>Timer Web App for Cooking in Sea of Thieves.</td>
  <td><a href="">LINK HERE</a></td>
</tr>
<tr>
  <th>File Converter CSV to XML<th>
    <td>Made with: Python</td>
  <td>A project I was hired to create was a file converter.</td>
  <td><a href="https://github.com/jmarkovich2/CSVtoXMLConverter">LINK HERE</a></td>
</tr>
<tr>
  <th>BoardandBanter<br>[UNDERCONSTRUCTION]<th>
    <td>Made with: Javascript, React, MongoDB</td>
  <td>A project of my own to allow people to play roleplay tabletop games online for free.</td>
  <td><a href="https://boardandbanter.com/">LINK HERE</a></td>
</tr>
<tr>
  <th>BungeeOwl<br>[UNDERCONSTRUCTION]<th>
    <td>Made with: Javascript, React, MongoDB</td>
  <td>My website I created to sell videogames that I create myself.</td>
  <td><a href="https://bungeeowl.com/">LINK HERE</a></td>
</tr>
</table>

<%-include('footer')%>
